---
import { CardProject } from "../components/CardProject.jsx";
import projects from "../data/projects.json";
---

<section id="projects">
  <div class="projects-title">
    <h2>Proyectos</h2>
    <span>Proyectos mas revelantes</span>
  </div>
  <div class="conteiner-cards">
    {projects.map((project) => <CardProject client:load data={project} />)}
  </div>
</section>

<style is:global>
  #projects {
    position: relative;
    z-index: 999;
    margin: auto;
    width: clamp(100px, 95%, 1200px);
    padding-top: 80px;
  }
  .projects-title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
    color: var(--color-white);
  }
  .projects-title > h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: var(--color-white);
    margin-bottom: 3vw;
    text-align: center;
  }
  .projects-title > span {
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    margin-bottom: 1vw;
    color: var(--color-text);
  }
  .conteiner-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 20px;
  }
  .card-project {
    background-color: transparent;
    flex: 1 1 300px;
    max-width: 350px;
    height: 420px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  .card-project-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 1rem;
    background-color: var(--color-bg-secondary);
  }
  .card-project.open .card-project-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: var(--border-light);
    border-radius: 1rem;
    box-shadow: var(---shadow-light);
    transition: box-shadow 0.3s ease-in-out;
  }
  .flip-card-back:hover,
  .flip-card-front:hover {
    box-shadow: var(--shadow-hover);
  }

  .flip-card-front {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .card-image {
    min-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .card-image > img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .card-front-title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3rem;
    margin-top: 10px;
    color: var(--color-accent);
    text-align: start;
    font-weight: 600;
  }
  .flip-card-front > section {
    display: flex;
    flex-flow: column;
    gap: 5px;
  }
  .flip-card-front > section > span {
    font-size: clamp(0.8rem, 2.3vw, 0.8rem);
    text-align: start;
    padding-left: 20px;
    padding-right: 10px;
    color: var(--color-text-secondary);
    width: 100%;
  }
  .card-front-desp {
    margin-top: 10px;
    font-size: clamp(0.8rem, 1.6vw, 1rem);
    color: var(--color-text);
    padding-left: 20px;
    padding-right: 25px;
    text-align: start;
  }
  .card-front-buttoms {
    display: flex;
    justify-content: end;
    height: 55px;
    margin-right: 20px;
  }

  /*boton*/
  .button-ver-mas {
    position: relative;
    font-size: 14px;
    letter-spacing: 3px;
    height: 3em;
    padding: 0 3em;
    border: none;
    background-color: var(--color-accent);
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
  }
  button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: rgb(65, 64, 64);
    background: linear-gradient(
      90deg,
      rgb(107, 95, 99) 20%,
      rgba(124, 7, 46, 1) 100%
    );
    transition: 0.2s;
  }

  .button-ver-mas .label {
    position: relative;
  }

  .button-ver-mas .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 3em;
    right: 0;
    opacity: 0;
    transition: 0.4s;
  }

  .button-ver-mas:hover::before {
    height: 100%;
  }

  .button-ver-mas:hover .icon {
    top: 0;
    opacity: 1;
  }
  /** */
  .flip-card-back {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    transform: rotateY(180deg);
  }
  .flip-card-back > section > p {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-white);
    text-align: start;
    margin-bottom: 5px;
  }
  .flip-card-back > section > span {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    color: var(--color-text-secondary);
    text-align: start;
    margin-bottom: 6px;
  }
  .flip-card-back > section > ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    width: 90%;
  }
  .flip-card-back > section > ul > li {
    font-size: clamp(0.6rem, 1.5vw, 0.9rem);
    color: var(--color-text-secondary);
    margin: 5px 0;
    color: var(--color-primary);
    filter: brightness(3);
    letter-spacing: 4px;
    transition: transform 0.3s ease-in-out;
  }
  .flip-card-back > section > ul > li:hover {
    transform: scale(1.05);
    color: var(--color-primary-hover);
  }
  .flip-card-back-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
  .flip-card-back-buttons > a {
    padding: 6px 16px;
    text-decoration: none;
    backgraund-color: var(--color-bg-secondary);
    border: var(--border-light);
    color: var(--color-white);
    border-radius: 5px;
    transition:
      box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
  .flip-card-back-buttons > a:hover {
    background-color: var(--color-hover);
    box-shadow: var(---shadow-light);
    cursor: pointer;
    transform: scale(1.1);
    color: var(--color-accent);
    font-weight: 400;
  }
  @media screen and (max-width: 800px) {
    .card-front-title {
      margin-top: 0;
    }
    .card-front-desp {
      margin-top: 0;
    }
  }
</style>
